/* Halaman Pertama */
.hal-1 {
  background-image: url(../img/coklat.png);
  background-size: cover;
  height: 100vh;
  width: 1440px;
  height: 1024px;
}
.hal-1 h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 49px;
  margin-left: 250px;
  margin-top: -65px;
  color: #f9b23d;
}
.hal-1 .logo {
  margin-left: 130px;
  margin-top: -60px;
}
.hal-1 .logo-panah {
  margin-left: 40px;
  padding-top: -90px;
}
.hal-1 .playerlogo p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  margin-left: 310px;
  margin-top: -90;
  color: #000000;
}
.hal-1 .com p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  padding-bottom: 40px;
  margin-left: 1100px;
  margin-top: -90px;
  color: #000000;
}
.player-com {
  margin-top: 55px;
}
.hal-1 .player #batu img {
  position: absolute;
  width: 128px;
  height: 92px;
  margin-left: 310px;
  margin-top: -30px;
}
.hal-1 .player #batu img:hover {
  position: absolute;
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.hal-1 .player #kertas img {
  position: absolute;
  width: 115px;
  height: 150px;
  margin-left: 315px;
  margin-top: 210px;
}
.hal-1 .player #kertas img:hover {
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.hal-1 .player #gunting img {
  position: absolute;
  width: 115px;
  height: 150px;
  margin-left: 315px;
  margin-top: 490px;
}
.hal-1 .player #gunting img:hover {
  background-color: #c4c4c4;
  transition: 0.3s;
  border-radius: 30px;
}
.hal-1 .com .batu2 img {
  position: absolute;
  width: 128px;
  height: 92px;
  margin-left: 1085px;
  margin-top: -480px;
}
.hal-1 .com .kertas2 img {
  position: absolute;
  width: 115px;
  height: 160px;
  margin-left: 1085px;
  margin-top: -250px;
}
.hal-1 .com .gunting2 img {
  position: absolute;
  width: 115px;
  height: 150px;
  margin-left: 1085px;
  margin-top: 50px;
}
#kalkulasi {
  box-sizing: content-box;
  width: 450px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 86px;
  line-height: 196px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #bd0000;
  margin-top: 200px;
  margin-left: 530px;
}
.mystyle {
  background-color: #4c9654;
  transform: rotate(-28.87deg);
}
#refresh img {
  position: absolute;
  width: 77px;
  height: 71px;
  left: 681px;
  margin-left: 30px;
  margin-top: 190px;
}
