body {
  background-image: url("../../public/Group\ 1.png");
}
.nav {
  height: 50px;
  border-radius: 20px;
  color: rgba(152, 203, 233, 0.555);
  display: grid;
  justify-content: center;
  height: 100vh;
  display: inline;
  font-weight: bolder;
}
.nav,
ul {
  display: inline-flexbox;
  line-height: 70px;
  padding-top: none;
  display: spece;
  grid-auto-columns: start;
  grid-auto-flow: column;
}
.ul {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-column-gap: 50px;

  background-position: 70px;
}
.li {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  background-color: rgb(241, 248, 252);
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 6px;
  border-radius: 10%;
}

.formOutPut {
  justify-content: center;
}
.h5 {
  color: white;
  padding-top: 180px;
}
